:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --myblack: #242424;
  --black-text: rgba(0, 0, 0, 0.87);
  --mywhite: rgba(255, 255, 255, 0.87);

  --mygray-light: rgba(255, 255, 255, 0.69);
  --mygray: rgb(91, 91, 91);
  --mygray-dark: rgb(53, 53, 53);

  --mylinkblue: #1c977d;
  --mylinkblue-light: #23b897;

  --myorange-dark: #c4742a;
  --myorange: #ec8c33;
  --myorange-light: #f59e4d;

  --myred: #ec4f33;

  --mytheme-shine: #00ffff;
  --mytheme-lighter: #02dada;
  --mytheme-light: #00b7b7;
  --mytheme: #039393;
  --mytheme-dark: #036363;

  --bs-body-color: var(--mywhite);
  --bs-secondary-color: var(--mywhite);
  --bs-tertiary-color: var(--mywhite);
  --bs-emphasis-color: var(--mywhite);

  --bs-border-color: var(--mytheme-dark);

  --bs-body-bg: var(--myblack);
  --bs-secondary-bg: var(--myblack);
  --bs-tertiary-bg: var(--myblack);
  --bs-emphasis-bg: var(--myblack);

  --bs-text-primary: var(--mywhite);
  --bs-text-primary-emphasis: var(--mywhite);
  --bs-primary: var(--mytheme);
  --bs-primary-bg-subtle: var(--mytheme-light);

  background-color: var(--myblack);
}

.alert-primary {
  color: var(--black-text);
  border: var(--mytheme-dark);
}

h1,
h2 {
  text-align: center;
}

/* color of buttons */
.btn.btn-primary {
  background-color: var(--mytheme);
  border-color: var(--mytheme);
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: var(--mytheme-light);
  border-color: var(--mytheme-light);
}

.btn.btn-secondary {
  background-color: var(--mygray-dark);
  border-color: var(--mygray-dark);
}
.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-color: var(--mygray);
  border-color: var(--mygray);
}

.btn.btn-danger {
  background-color: var(--myorange);
  border-color: var(--myorange);
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-color: var(--myorange-light);
  border-color: var(--myorange-light);
}

.btn.btn-danger:disabled {
  background-color: var(--myorange-dark);
  border-color: var(--myorange-dark);
}
.btn.btn-outline-light {
  border-color: var(--mytheme-lighter);
  color: var(--mytheme-lighter);
}
.btn.btn-outline-light:hover,
.btn.btn-outline-light:active,
.btn.btn-outline-light.active,
.open > .dropdown-toggle.btn-outline-light {
  border-color: var(--mytheme-shine);
  background-color: var(--mytheme);
  color: var(--mytheme-shine);
}

.btn.btn-outline-danger {
  border-color: var(--myorange);
  color: var(--myorange);
}
.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:active,
.btn.btn-outline-danger.active,
.open > .dropdown-toggle.btn-outline-danger {
  border-color: var(--myorange-light);
  background-color: var(--myorange-dark);
  color: var(--myorange-light);
}

input.info-text,
label.info-text {
  color: var(--mygray-light) !important;
}

/* form hilight color */
.form-control:focus {
  border-color: var(--mytheme-light);
  box-shadow: 0 1px 1px var(--myblack) inset, 0 0 8px var(--mytheme-shine);
  outline: 0 none;
}

.dropdown-toggle::after {
  display: none;
}

/* color of hyper link */
a.link,
a.link:visited {
  color: var(--mylinkblue);
  text-decoration: none;
}

a.link:hover,
a.link:active {
  cursor: pointer;
  color: var(--mylinkblue-light);
  text-decoration: none;
}

/* color of dropdown-item */
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--mygray-dark) !important;
  color: var(--mylinkblue-light) !important;
}

/* change the show pass eyemark color */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  filter: invert(75%);
}
/* change autofill color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--myblack) inset !important;
  -webkit-text-fill-color: var(--mywhite);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--myblack) inset !important;
  -webkit-text-fill-color: var(--mywhite);
}

.grid-item {
  display: flex;
  border: 1px var(--bs-border-color) solid;
}
.text-correct {
  color: var(--mytheme-light);
}
.text-incorrect {
  color: var(--myorange-dark);
}
.text-normal {
  color: var(--mytheme);
}
.text-low {
  color: var(--myred);
}

.grid-item .active {
  background-color: var(--mygray-dark);
}

.list-group .active {
  background-color: var(--mytheme);
  border-color: var(--mytheme-light);
}
.list-group-item {
  cursor: pointer;
}

/* scaling */
#app {
  transform: scale(1.8);
  transform-origin: 0 0;
  width: calc(100% / 1.8);
  height: calc(100% / 1.8);
}

@media screen and (max-width: 450px) {
  #app {
    transform: scale(1);
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  #app {
    transform: scale(1.3);
    width: calc(100% / 1.3);
    height: calc(100% / 1.3);
  }
}
